.root {
  display: flex;
  justify-content: space-around;
}

.tile-map {
  width: 100%;
  background: beige;
  &__content {
    font-size: 24px;
  }
}

.tile-map__tile-wrapper:hover {
  cursor: pointer;
  opacity: .8;
}

.tile-map__selected rect {
  fill: #e1c129 !important;
}

.tile-map__tile {
  stroke: #262929;
  stroke-width: 3;
}

.tile-map__caption {
  font: 16px sans-serif;
  fill: #FFFFFF;
}

.tile-map__caption_val {
  font: 28px sans-serif;
  fill: #FFFFFF;
}

.controls {
  display: flex;
  flex-direction: column;
  padding-left: 40px;
}

.tooltip {
  position: absolute;
  text-align: center;
  padding: 4px 8px;
  background-color: #383a3d;
  color: #f9f9f9;
  border: 0;
  border-radius: 8px;
  pointer-events: none;
  font-size: .7rem;
  opacity: 0;
}
.tooltip div:first-child {
  font-size: 1rem;
  padding: 0 4px;
}
.tooltip div {
  margin-bottom: 6px;
}

.mapButton {
  display: inline-block;
  padding: 9.5px 30px;
  background-color: #20b593;
  margin: 5px 5px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  border-style: none;
}
