.reset {
    display: inline-block;
    padding: 9.5px 30px;
    background-color: #20b593;
    margin: 5px 5px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    border-radius: 2px;
    cursor: pointer;
}