.news {
    text-align: left;
    color: #fff0f0;
}

.meta {
    display: inline-block;
    margin: 0 0 0.5em;
    font-size: 14px;
    color: #8b8a8a;
}

.title {
    color: #fff0f0;
    margin: 0.5em 0;
}

.body {
    margin: 0;
}

.sourceLink {
    font-size: 14px;
    color: #20b593;
    text-decoration: none;
}
