.news {
    text-align: left;
}

.meta {
    display: inline-block;
    margin: 0 0 0.5em;
    font-size: 14px;
    color: #8b8a8a;
}

.sourceLink {
    font-size: 14px;
    color: #20b593;
    text-decoration: none;
}