.dataBlock {
  position: relative;
  float: left;
  left: -150px;
  width: 400px;
}

.region_name {
  color: #FFFFFF;
}

.caption {
  color: #FFFFFF;
  font-size: 18px;
  font-weight: bold;
}

.number__green {
  color: #228b22;
  font-size: 24px;
}

.number__red {
  color: #ff0000;
  font-size: 24px;
}

.number__yellow {
  color: #e1c129;
  font-size: 24px;
}
